@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex1 {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

header {
  background: #4D4D43;
  text-align: center;
}

.container {
  max-width: 80%;
  margin: auto;
}

header .logo img {
  width: 40px;
  margin-top: 20px;
}

header .logo h2 {
  font-size: 16px;
  color: white;
}

header .navbar {
  padding-top: 40px;
}

header ul {
  list-style: none;
}

header ul li {
  display: inline-block;
  margin-left: 40px;
}

header ul li a {
  color: white;
  text-decoration: none;
}

header .search {
  background: white;
  height: 30px;
  width: 250px;
  border-radius: 30px;
  margin-left: 30px;
}

header input {
  border: none;
  outline: none;
  padding: 15px;
  width: 100%;
  border-radius: 30px;
}

header .search i {
  padding: 7px;
}

/*--------------home-----*/
.home {
  background: #4D4D43;
  height: 89vh;
  position: relative;
  z-index: -2;
}

.left, .right {
  width: 50%;
  margin-top: 5%;
  position: relative;
}

.home .left img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.home .left .box {
  position: absolute;
  left: 50%;
  top: 40%;
  background: #cc923c;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 30px;
}

.home .text img {
  width: 40px;
  height: 40px;
}

.home .left .para p {
  font-size: 14px;
  margin-left: 20px;
}

.home .p {
  font-size: 18px;
  margin-top: 30px;
  padding-right: 200px;
}

.home::after {
  position: absolute;
  content: '';
  background-image: url("../h.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1000px;
  height: 84vh;
  top: 5%;
  left: -20%;
  z-index: -1;
  overflow: hidden;
}

.home .left::after {
  position: absolute;
  content: '';
  background-image: url("../h2.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 170px;
  height: 170px;
  left: -20%;
  top: 50%;
}

.home .right {
  text-align: center;
  color: white;
  margin-top: 10%;
}

.home .right h1 {
  position: relative;
  font-size: 120px;
  font-weight: 900;
  letter-spacing: 5px;
  font-family: 'Poppins', sans-serif;
}

.home .right .text {
  max-width: 60%;
  margin: auto;
}

.home .right .text p {
  text-align: left;
  opacity: 0.7;
}

.home .right h2 {
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  line-height: 45px;
}

.home .right hr {
  background: #C5C15E;
  border: 2px solid #C5C15E;
  margin-left: 10px;
  margin-right: 10px;
  height: 140px;
}

button {
  background: #D09A49;
  border: none;
  padding: 12px 60px;
  border-radius: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.icon i {
  border: 1px solid white;
  opacity: 0.8;
  padding: 2px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  margin-left: 20px;
}

.icon label {
  font-weight: 100;
  font-size: 12px;
}

/*--------------home-----*/